<div class="row">
  <div class="col-sm-12">
    <h4>Contact Norman Liu</h4>
  </div>
  <div class="col-sm-6">
    <h4>
      <i class="glyphicon glyphicon-phone" style="font-size: 0.6em; top: -1px;"></i>
      <span class="mobile_friendly">0415&nbsp;455&nbsp;144</span>
      <a href="tel:+61415455144" class="mobile_friendly" style="display: none;">
        <span class="">0415&nbsp;455&nbsp;144</span>
      </a>
    </h4>
  </div>
  <div class="col-sm-6">
    <h4>
      <i class="glyphicon glyphicon-envelope" style="font-size: 0.6em"></i>
      <a href="mailto:norman@graphis.com.au">
        <span class="">norman@graphis.com.au</span>
      </a>
    </h4>
  </div>
</div>
