<div class="row">
  <div class="col-sm-12">
    <h4>Contact Norman Liu</h4>
    <div class='narrow-page-gap'></div>
  </div>
  <div class="col-sm-6">
    <i class="glyphicon glyphicon-phone"></i>
    <h3>
      <a href="tel:+61415455144">
        <span class="">0415 455 144</span>
      </a>
    </h3>
  </div>
  <div class="col-sm-6">
    <i class="glyphicon glyphicon-envelope"></i>
    <h3>
      <a href="mailto:norman@graphis.com.au">
        <span class="">norman@graphis.com.au</span>
      </a>
    </h3>
  </div>
</div>
