<div class="row">
  <div class="tight-padding col-sm-12 col-md-6 col-lg-6">
    <div class="portfolio_link text-center">
      <a href="/portfolio?page=photography">
        <img src="/images/dog1.jpg" class="img img-responsive full-width" />
      </a>
    </div>
  </div>
  <div class="tight-padding col-sm-12 col-md-6 col-lg-6">
    <div class="portfolio_link text-center">
      <a href="/portfolio?page=cool">
        <img src="/images/dog2.jpg" class="img img-responsive full-width" />
      </a>
    </div>
  </div>
  <div class="tight-padding col-sm-12 col-md-6 col-lg-6">
    <div class="portfolio_link text-center">
      <a href="/portfolio?page=wow">
        <img src="/images/dog3.jpg" class="img img-responsive full-width" />
      </a>
    </div>
  </div>
  <div class="tight-padding col-sm-12 col-md-6 col-lg-6">
    <div class="portfolio_link text-center">
      <a href="/portfolio?page=look">
        <img src="/images/dog4.jpg" class="img img-responsive full-width" />
      </a>
    </div>
  </div>
  <div class="tight-padding col-sm-12 col-md-6 col-lg-6">
    <div class="portfolio_link text-center">
      <a href="/portfolio?page=photography">
        <img src="/images/dog1.jpg" class="img img-responsive full-width" />
      </a>
    </div>
  </div>
  <div class="tight-padding col-sm-12 col-md-6 col-lg-6">
    <div class="portfolio_link text-center">
      <a href="/portfolio?page=cool">
        <img src="/images/dog2.jpg" class="img img-responsive full-width" />
      </a>
    </div>
  </div>
  <div class="tight-padding col-sm-12 col-md-6 col-lg-6">
    <div class="portfolio_link text-center">
      <a href="/portfolio?page=wow">
        <img src="/images/dog3.jpg" class="img img-responsive full-width" />
      </a>
    </div>
  </div>
  <div class="tight-padding col-sm-12 col-md-6 col-lg-6">
    <div class="portfolio_link text-center">
      <a href="/portfolio?page=look">
        <img src="/images/dog4.jpg" class="img img-responsive full-width" />
      </a>
    </div>
  </div>
</div>
