<div class="row">
  <div class="dark-jumbo clearfix">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="dark-jumbo-text">
          My name is <span class="highlight-text">Norman Liu</span>,<br>
          I'm a graphic designer<br> and photographer.
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="dark-jumbo-image">
          <img src="/images/norman-headshot.png" class="img img-responsive full-width" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class='narrow-page-gap'></div>


<div class="row">
  <div class="light-jumbo clearfix">
    <div class="col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
      <div class="light-jumbo-text">
        <p>I've worked with a broad range of clients, from small businesses to large corporations and have helped them with a wide range of requirements from Logo Design & Corporate Identify, Branding, Information Brochures, Annual Reports, Newspaper Ads, Photography and lots more.</p>
        <br>
        <div class="highlight-text">Here is some of my work.</div>
      </div>
    </div>
  </div>
</div>


<div class="row">




  <div class="tight-padding col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/portfolio?page=photography">
      <div class="hovereffect">
        <img src="/images/portfolio1.png" class="img img-responsive full-width" alt="" />
        <div class="overlay">
           <h2>Conference Collatoral</h2>
           <a class="info" href="/portfolio?page=photography"><i class="glyphicon glyphicon-adjust"></i></a>
        </div>
      </div>
    </a>
  </div>




  <div class="tight-padding col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/portfolio?page=cool">
      <div class="hovereffect">
        <img src="/images/portfolio2.png" class="img img-responsive full-width" alt="" />
        <div class="overlay">
           <h2>Conference Collatoral</h2>
           <a class="info" href="/portfolio?page=cool"><i class="glyphicon glyphicon-adjust"></i></a>
        </div>
      </div>
    </a>
  </div>




  <div class="tight-padding col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/portfolio?page=photography">
      <div class="hovereffect">
        <img src="/images/portfolio1.png" class="img img-responsive full-width" alt="" />
        <div class="overlay">
           <h2>Conference Collatoral</h2>
           <a class="info" href="/portfolio?page=photography"><i class="glyphicon glyphicon-adjust"></i></a>
        </div>
      </div>
    </a>
  </div>




  <div class="tight-padding col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/portfolio?page=cool">
      <div class="hovereffect">
        <img src="/images/portfolio2.png" class="img img-responsive full-width" alt="" />
        <div class="overlay">
           <h2>Conference Collatoral</h2>
           <a class="info" href="/portfolio?page=cool"><i class="glyphicon glyphicon-adjust"></i></a>
        </div>
      </div>
    </a>
  </div>




  <div class="tight-padding col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/portfolio?page=photography">
      <div class="hovereffect">
        <img src="/images/portfolio1.png" class="img img-responsive full-width" alt="" />
        <div class="overlay">
           <h2>Conference Collatoral</h2>
           <a class="info" href="/portfolio?page=photography"><i class="glyphicon glyphicon-adjust"></i></a>
        </div>
      </div>
    </a>
  </div>




  <div class="tight-padding col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/portfolio?page=cool">
      <div class="hovereffect">
        <img src="/images/portfolio2.png" class="img img-responsive full-width" alt="" />
        <div class="overlay">
           <h2>Conference Collatoral</h2>
           <a class="info" href="/portfolio?page=cool"><i class="glyphicon glyphicon-adjust"></i></a>
        </div>
      </div>
    </a>
  </div>




  <div class="tight-padding col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/portfolio?page=photography">
      <div class="hovereffect">
        <img src="/images/portfolio1.png" class="img img-responsive full-width" alt="" />
        <div class="overlay">
           <h2>Conference Collatoral</h2>
           <a class="info" href="/portfolio?page=photography"><i class="glyphicon glyphicon-adjust"></i></a>
        </div>
      </div>
    </a>
  </div>




  <div class="tight-padding col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/portfolio?page=cool">
      <div class="hovereffect">
        <img src="/images/portfolio2.png" class="img img-responsive full-width" alt="" />
        <div class="overlay">
           <h2>Conference Collatoral</h2>
           <a class="info" href="/portfolio?page=cool"><i class="glyphicon glyphicon-adjust"></i></a>
        </div>
      </div>
    </a>
  </div>




  <div class="tight-padding col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/portfolio?page=photography">
      <div class="hovereffect">
        <img src="/images/portfolio1.png" class="img img-responsive full-width" alt="" />
        <div class="overlay">
           <h2>Conference Collatoral</h2>
           <a class="info" href="/portfolio?page=photography"><i class="glyphicon glyphicon-adjust"></i></a>
        </div>
      </div>
    </a>
  </div>




  <div class="tight-padding col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/portfolio?page=cool">
      <div class="hovereffect">
        <img src="/images/portfolio2.png" class="img img-responsive full-width" alt="" />
        <div class="overlay">
           <h2>Conference Collatoral</h2>
           <a class="info" href="/portfolio?page=cool"><i class="glyphicon glyphicon-adjust"></i></a>
        </div>
      </div>
    </a>
  </div>




  <div class="tight-padding col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/portfolio?page=photography">
      <div class="hovereffect">
        <img src="/images/portfolio1.png" class="img img-responsive full-width" alt="" />
        <div class="overlay">
           <h2>Conference Collatoral</h2>
           <a class="info" href="/portfolio?page=photography"><i class="glyphicon glyphicon-adjust"></i></a>
        </div>
      </div>
    </a>
  </div>




  <div class="tight-padding col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/portfolio?page=cool">
      <div class="hovereffect">
        <img src="/images/portfolio2.png" class="img img-responsive full-width" alt="" />
        <div class="overlay">
           <h2>Conference Collatoral</h2>
           <a class="info" href="/portfolio?page=cool"><i class="glyphicon glyphicon-adjust"></i></a>
        </div>
      </div>
    </a>
  </div>


</div>
