body { margin: 0px; font-family: 'Dosis'; font-size: 1.5em; font-weight: lighter; color: #000; background-color: #bbb;}
.page { max-width: 1800px; margin-left: auto; margin-right: auto; }
.page .row { margin-left: 0px; margin-right: 0px; }

nav.navbar.navbar-default { background-color: white; border-radius: 0px; border: none; margin: 10px 0px 0px 0px; font-weight: bold; }
nav.navbar.navbar-default .navbar-nav > li > a { color: #666; }
nav.navbar.navbar-default .navbar-toggle { border-color: transparent; }
nav.navbar.navbar-default .navbar-toggle .icon-bar { background-color: #999; }
nav.navbar.navbar-default .navbar-toggle:hover { background-color: #333; border-color: transparent;  }
nav.navbar.navbar-default .navbar-toggle:focus { background-color: #333; border-color: transparent;  }
nav.navbar.navbar-default .navbar-nav > li > a:hover { color: #000; }
nav.navbar.navbar-default .navbar-brand { padding: 0px 5px 0px 20px; vertical-align: middle; line-height: 48px; font-size: 32px; font-weight: lighter; }
nav.navbar.navbar-default .navbar-brand img { vertical-align: top; margin: 7px 0px; height: 36px; width: 36px;}
nav.navbar.navbar-default .navbar-brand { color: #666; }
nav.navbar.navbar-default .navbar-brand:hover { color: #000; }
nav.navbar.navbar-default .navbar-brand > img { display: inline-block; }


.dark-jumbo {
  background-color: #000;
}

.dark-jumbo-text {
  color: white;
  font-size: 2em;
  padding: 130px 40px;
  vertical-align: middle;
  text-transform: uppercase;
  max-width: 400px;
}

.dark-jumbo-text .highlight-text {
  color: #8dc740;
}

.dark-jumbo-image img {
  max-height: 500px;
  max-width: 500px;
  float: right;
}


.light-banner {
  background-color: #fff;
}

.light-banner-text {
  color: #000;
  font-size: 1.2em;
  padding: 50px;
  vertical-align: middle;
  text-align: center;
}

.bold-text {
  font-weight: bold;
}


.dark-banner {
  background-color: #000;
}

.dark-banner-text {
  color: #fff;
  font-size: 1.2em;
  padding: 50px;
  vertical-align: middle;
  text-align: center;
}

.dark-banner-text .highlight-text {
  color: #8dc740;
}



/*.portfolio-link,
.portfolio-link-mouseover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio-link-mouseover {
  z-index: 10;
}*/

.tight-padding { padding: 0px !important; }
.narrow-page-gap { height: 10px; }
.full-width { width: 100%; }

.hovereffect a { text-decoration: none; }
.hovereffect .overlay { pointer-events: none; }
.hovereffect:hover a.info {
  margin: 10px 0px 0px 0px;
  background-color: #000;
  opacity: 0.6;
}



@media (max-width: 991px) {

  .dark-jumbo-text {
    padding: 30px 10px;
    font-size: 1.8em;
    max-width: 900px;
    text-align: center;
  }

  .dark-jumbo-image img {
    max-height: 400px;
    max-width: 400px;
    text-align: center;
    float: none;
    margin: 0 auto;
  }

}

@media (max-width: 767px) {

  nav.navbar.navbar-default {
    margin: 0px;
  }


  .dark-jumbo-text {
    padding: 20px 10px;
    font-size: 1.5em;
  }

  .light-banner-text {
    padding: 25px;
  }

  .dark-banner-text {
    padding: 25px;
  }



}

@media (max-width: 481px) {

  .dark-jumbo-text {
    font-size: 1.4em;
  }

  .light-banner-text {
    padding: 10px;
  }

  .dark-banner-text {
    padding: 10px;
  }

}





/*">
  <div class="tight-padding col-sm-12 col-md-6 col-lg-6">
    <div class="contrast-jumbo-text">
      MY NAME IS <span class="highlight-text">NORMAN LIU</span>,<br>
      I'M A GRAPHIC DESIGNER<br> AND PHOTOGRAPHER.
    </div>
  </div>
  <div class="tight-padding col-sm-12 col-md-6 col-lg-6">
    <div class="contrast-jumbo-image">
      <img src="/images/norman-headshot.png" class="img img-responsive full-width" />
    </div>
  </div>*/
